<h1>Comedians</h1>
<br>

<% @comedians.each do |comedian| %>
  <ul>
    <li><h3>Name: <%= comedian.name %></h3></li>
    <li><h4>Age: <%= comedian.age %></h4></li>
    Specials:
    <ul>
      <% comedian.specials.each do |special| %></h4></li>
      <li><h4><%= special.name %></h4></li>
      <% end %>
    </ul>
    <br>
  </ul>
<% end %>